services:
  tailscale-ollama:
    image: tailscale/tailscale:latest
    hostname: tailscale-ollama
    environment:
      - TS_AUTHKEY=${TS_AUTH}
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ${PWD}/tailscale-nginx/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
  ollama:
    image: ollama/ollama:rocm
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    depends_on:
      - tailscale-ollama
    network_mode: service:tailscale-ollama
